.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 80% 1fr;
  grid-auto-rows: 150px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

body {
  background-image: url(../sitebuild-tomi-jano/pics_menu/blue-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.info_block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.info_block_text {
  border: 2px;
  width: 200px;
}

.info_block_input {
  float: left;
  text-align: left;
  width: 500px;
}

.delivery_info {
  padding: 30px;
  background: rgba(211, 132, 13, 1);
}

ul {
  float: left;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: darkgoldenrod;
  padding: 5px 20px;
  border: 2px solid darkgreen;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: darkgoldenrod;
  color: blue;
}

td {
  font-size: 30px;
  color: white;
}